<% if (messages.success.length !== 0) { %>
<div class="ui success message">
    <ul class="list">
        <% for (i in messages.success) { %>
        <li><%= messages.success[i] %></li>
        <% } %>
    </ul>
</div>
<% } %>
<% if (messages.errors.length !== 0) { %>
<div class="ui negative message">
    <ul class="list">
        <% for (i in messages.errors) { %>
        <li><%= messages.errors[i] %></li>
        <% } %>
    </ul>
</div>
<% } %>
