<div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="#" class="header item">
        Recommendation as a Service
      </a>
      <a href="" class="item">Home</a>
      <a href="logout" class="item">Logout</a>
    </div>
  </div>