<div class="ui fixed inverted menu">
  <div class="ui container">
    <a href="/dashboard" class="header item">
      Generalized Recommendation Platform
    </a>
    <a href="/dashboard" class="item">Home</a>
    <a href="logout" class="item">Logout</a>
  </div>
</div>
