<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head %>
</head>
<body>

  <header>
    <% include ./partials/header %>
  </header>

  <main>
    <div class="ui main text container">
      <h1 class="ui header">Upload Your Data</h1>
      <a href="/help">What should my data look like?</a>
      <div class="ui form">
        <div class="field">
          <input id="file_input" class="ui input" type="file" name="file-input">
        </div>
        <button class="ui button" action="submit">Submit Data File</button>
      </div></br>
      <div class="ui purple progress" id="progress">
        <div class="bar">
          <div class="progress"></div>
        </div>
        <div class="label">Uploading File</div>
      </div>
      <h1 class="ui header">My Recommendations</h1>
      <table id="upload-table" class="ui celled table">
        <thead>
        <tr><th>Uploaded File</th>
          <th>Status</th>
          <th>My Results</th>
        </tr></thead>
        <tbody>
        <!--tr>
          <td>ratings1.csv</td>
          <td class="positive">Complete</td>
          <td><a href="/dummydata">ratings1_results.txt</a></td>
        </tr>
        <tr>
          <td>ratings2.csv</td>
          <td class="negative">Incomplete</td>
          <td>N/A</td>
        </tr!-->
        </tbody>
      </table>
    </div>
  </main>

  <footer>
    <% include ./partials/footer %>
  </footer>

  <script>
    var getUploads = function () {
      $.ajax({
        url: '/my-uploads',
        type: 'GET',
        success: function(data, textStatus, jqXHR) {
          console.log(data);
          $('#upload-table tbody').empty();
          $('#upload-table tbody').prepend('<tr><td>movielens-ratings.csv</td><td class="positive">Completed</td><td><a href="https://generalized-recommendation-platform.s3.amazonaws.com/5717efd505ea06e7028b59fd/movielens-ratings-results.txt">movielens-ratings-results.txt</a>')
          $('#upload-table tbody').prepend('<tr><td>coursify-ratings.csv</td><td class="positive">Completed</td><td><a href="https://generalized-recommendation-platform.s3.amazonaws.com/5717efd505ea06e7028b59fd/coursify-ratings_results.txt">coursify-ratings_results.txt</a>')
          $.each(data, function(index, upload) {
            $('#upload-table tbody').prepend('<tr><td>' + upload.name + '</td><td class="negative">' + upload.status + '</td><td>N/A</td></tr>')
          });
        },
        error: function(jqXHR, textStatus, err) {
          console.log(err);
        }
      });
    }

    var getSignedRequestAndUpload = function(file) {
      $.ajax({
        url: '/sign-s3',
        type: 'GET',
        data: { name: file.name, type: file.type },
        success: function(data, textStatus, jqXHR) {
          console.log('got signed request');
          console.log(data);
          console.log(file);
          uploadFile(file, data.signed_request, data);
        },
        error: function(jqXHR, textStatus, err) {
          console.log(err);
        }
      });
    }

    var uploadFile = function(file, signedRequest, upload_data) {
      getUploads();
      $('#progress').progress({ percent: 0 });
      var xhr = new XMLHttpRequest();
      xhr.open("PUT", signedRequest);
      xhr.setRequestHeader('x-amz-acl', 'public-read');
      xhr.upload.onprogress = function(event) {
        if (event.lengthComputable) {
          console.log(Math.round((event.loaded / event.total) * 100));
          $('#progress').progress({ percent: Math.round((event.loaded / event.total) * 100) });
        }
      };
      xhr.addEventListener("load", function(event) {
        console.log('upload complete');
        console.log(upload_data.url);
        $.ajax({
          url: '/update-upload',
          type: 'POST',
          data: { id: upload_data.upload_id, status: 'Queued' },
          success: function(data, textStatus, jqXHR) {
            console.log('updated status!');
            getUploads();
          },
          error: function(jqXHR, textStatus, err) {
            console.log(err);
          }
        });
      });
      xhr.addEventListener("error", function(event) {
        console.log('upload error');
      });
      xhr.addEventListener("abort", function(event) {
        console.log('upload aborted');
      });
      xhr.send(file);
    }

    $('.ui.form button').click(function() {
      var file = $('.ui.form input[name="file-input"]')[0].files[0];
      if (!file) {
          console.log('no file selected');
      } else {
          getSignedRequestAndUpload(file);
      }
    });
    $('#progress').progress({ percent: 0 });

    getUploads();
  </script>

</body>
</html>
