
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

    <header>
        <% include ./partials/header %>
    </header>

    <main>
        <div class="ui main text container">
            <h1 class="ui header">Upload Your Data</h1>
            <form>
                <input class="ui input" type="file" name="dataFile"></input><br><br>
                <button class="ui button" action="submit">Submit Data File</input>
            </form>
        <div>
    </main>

    <footer>
        <% include ./partials/footer %>
    </footer>

</body>
</html>
